# -----------------------------------------------------------------------------
# .gitignore для проекта с документацией (Markdown)
# -----------------------------------------------------------------------------

# Игнорировать системные файлы macOS, Windows и Linux
#------------------------------------------------------------------------------
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# Игнорировать временные файлы и файлы бэкапов
#------------------------------------------------------------------------------
*.tmp
*.bak
*.swp
~*

# Игнорировать файлы конфигурации популярных редакторов
#------------------------------------------------------------------------------
.vscode/
.idea/

